.App {
  height: 100%;
  display: flex;
  margin: 0 6rem;
  padding-top: 2rem;
  max-height: 100vh;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Atyp BL Display";
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 170vw;
  height: 100vh;
  background: repeat url(./images/background.svg) 50%;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  /* height: 100vh; */
  width: 100%;
  max-width: 1608px;
  margin: auto;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 4rem;
  background-color: #fff;
  margin: 0 auto 0;
  height: 6rem;
  box-shadow: 0 0 25px hsl(0deg 0% 63% / 15%);
  width: 100%;
  max-width: 1279px;
}

h3 {
  font-size: 1.5rem;
  color: #683ab3;
}

header ul {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

}

header ul li {
  padding: 0;
  margin-left: 1rem;
}

ul li button {
  background: none;
  border: none;
  font-size: 1.125rem;
}

header ul li .btn {
  margin: 0;
  width: auto;
  height: auto;
  border: none;
  color: #fff;
  min-width: 120px;
  align-items: center;
  border-radius: 3rem;
  background: #683ab3;
  display: inline-flex;
  padding: .75rem 2rem;
  justify-content: center;
  font-weight: bold;
}

footer {
  padding: 2rem 0;
  display: flex;
  width: 100%;
  max-width: 1640px;
  flex-direction: row;
  justify-content: space-between;
}

footer .patternships p {
  margin-bottom: 1.25rem;
}

.patternships {
  display: flex;

}

.patternships img {
  margin-bottom: 1rem;
}

.patternships img:not(:last-child) {
  margin-right: 2rem;
}

.margin_64 {
  margin: 0 64px;
}

.patternships img {
  max-height: 1.25rem;
}

.h_40 {
  height: auto;
  max-height: 2.5rem !important;
}

.link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

footer div p {
  font-size: 1rem;
}

.enq {
  margin-bottom: 0.5rem;
}

.copy {
  margin-top: 1.5rem;
}

.section_pc {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  width: -webkit-fill-available;
  padding: 1rem 0;
}

.section {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1608px;
  justify-content: space-around;
}

.sal_img_container {
  width: 100%;
  max-height: 500px;
  max-width: calc(min(30vw, 500px));
}

.sal_img {
  width: 100%;
  height: auto;
}

.section-pc div {
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.section_details {
  max-width: 600px;
  text-align: center;
}

.heading_2 {
  color: #683ab3;
  line-height: 1.1;
  max-width: 56.25rem;
  font-size: clamp(3rem, calc(2rem + 1vw), 6rem);
}

.section_text {
  width: 100%;
  max-width: 732px;
  line-height: 1.5;
  font-size: 1.25rem;
  margin: 1rem auto 0;
  font-family: "Manrope";
}

.section_button {
  display: inline-flex;
  margin: 2rem 0;
  min-width: 120px;
  border-radius: 4rem;
  background: #683ab3;
  font-size: 1.125rem;
  padding: 1.25rem 3.5rem;
  font-weight: 600;
  border: none;
  align-items: center;
  color: #fff;
}

.svg {
  margin-left: 1.125rem;
}

.accent,
.accent_btn {
  color: #fca000 !important;
}

.accent_btn {
  border: 2px solid #fca000 !important;
  background: none !important;
}

.accent_btn svg path {
  stroke: #fca000;
  fill: #fca000 !important;
}

button {
  cursor: pointer;
}

.faq {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

select {
  width: 100%;
  margin: 2rem 0;
  border-radius: 1rem;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
}

.faq p {
  max-width: 732px;
}

.more {
  margin: 4rem auto 0;
}


.faq .more p {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.section_mobile {
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 2rem;
}

.section_mobile section {
  padding: 2rem 0;
}

.patternships {
  padding: 1.5rem;
}


.section_mobile img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1240px) {
  .margin_64 {
    margin: 0px;
  }
  .section_pc {
    display: none;
  }

  .App {
    margin: 0;
  }

  footer {
    padding-bottom: 0px;
  }

  .margin_64,
  .image_grid {
    margin-bottom: 1rem;
  }

  .license_container {
    margin-bottom: 1.5rem;
  }

  footer,
  footer>* {
    flex-wrap: wrap;
  }

  .contact_us {
    width: 100%;
    background: #683ab3;
    padding: 3rem 2rem 5rem;
  }

  .contact_us>h3 {
    margin-bottom: 1rem;
    font-size: 1.17em;
  }

  .contact_us>* {
    color: #fff;
  }
}

@media screen and (min-width: 1240px) {
  .section_mobile,
  .contact_us h3{
    display: none;
  }

}